version: '3.8'

networks:
  app-net:
    driver: bridge

services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    container_name: mongo
    volumes:
      - mongo-data:/data/db
    networks:
      - app-net
    ports:
      - "27017:27017" 

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    container_name: backend
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DB=dd_db
      - NODE_ENV=production
    depends_on:
      - mongo
    networks:
      - app-net
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    container_name: frontend
    depends_on:
      - backend
    networks:
      - app-net
    ports:
      - "8081:8081"

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-net

volumes:
  mongo-data:
    name: discoverdoller-mongo-data