version: '3.8'

services:
  mongo:
    container_name: mongo
    image: mongo:6.0
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  backend:
    container_name: backend
    build:
      context: ./backend
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DB=dd_db
      - MONGO_URL=mongodb://mongo:27017/dd_db
    depends_on:
      - mongo 

  frontend:
    container_name: frontend  
    build:
      context: ./frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend 

volumes:
  mongo-data:
  
networks:
  app-network:
    driver: bridge  
