version: '3.8'

services:
  mongo:
    container_name: mongo
    image: mongo:6.0
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  backend:
    container_name: backend
    build:
      context: ./backend
    restart: unless-stopped
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DB=dd_db
    depends_on:
      - mongo
    expose:
      - "8080"
    networks:
      - app-network  

  frontend:
    container_name: frontend  
    build:
      context: ./frontend
    depends_on:
      - backend
    ports:
      - "80:80"
    networks:
      - app-network  

volumes:
  mongo-data:
  
networks:
  app-network:
    driver: bridge  
